{% extends 'layout.twig' %}
{% block body %}

{% for alert in alerts %}
  <div class="alert alert-{{ alert.type}} alert-dismissible fade show" role="alert">
    {{ alert.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
<main class="container p-5">
  <label class="display-2">Dashboard</label>
  <br>
  <label class="display-4">Portfolio</label>
  <hr>
  <div class="container-fluid">
    <table class="table table-hover">
      {% if api_error == TRUE %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>

        </tr>
        {% else %}
        <tr>
          <td colspan="2"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td><strong>User</strong></td>
          <td><strong>${{ cash }}</strong></td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>${{ cash }}</strong></td>
        </tr>
      </tbody>
      {% else %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price <span class="badge badge-pill badge-success">Live</span></th>
              <th scope="col">TOTAL</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr class="stock-links pointer tippy" data-tippy-content="Go to {{stock.name}} stock">
          <td id="symbol">{{ stock.symbol }}</td>
          <td>{{stock.name}}</td>
          <td>{{ stock.shares }}</td>
          <td>${{ stock.price }}</td>
          <td>${{ stock.total }}</td>
          </a>
        </tr>

        {% else %}
        <tr>
          <td colspan="5"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td><strong>User</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>${{ cash }}</strong></td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>${{ total }}</strong></td>
        </tr>
      </tbody>

      {% endif %}
    </table>
  </div>


  <label class="display-4">Most Active</label><br><span class="badge badge-pill badge-success">Live</span>
  <hr>
  <div class="container-fluid">
    <div class="mostactive-stocks card-columns"></div>
  </div>

  <label class="display-4">Gainers</label><br><span class="badge badge-pill badge-success">Live</span>
  <hr>
  <div class="container-fluid">
    <div class="gainers-stocks card-columns"></div>
  </div>

  <label class="display-4">Losers</label><br><span class="badge badge-pill badge-success">Live</span>
  <hr>
  <div class="container-fluid">
    <div class="losers-stocks card-columns"></div>
  </div>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function makeStockCard(symbol, companyName, price, changePercent, change){
    var cardTitle = document.createElement('h5');
    $(cardTitle).addClass('card-title');
    $(cardTitle).text(companyName);
    var cardText = document.createElement('p');
    $(cardText).addClass('card-text');
    var color = "white";

    var img = "";

    if (changePercent > 0.00){
      img = "<img style=\"width:8%;height:10%;color:#2ecc71;\"src=\"/static/caret-up.png\" alt=\"caret top\">";
      color = "#2ecc71";
    }
    else if (changePercent < 0.00){
      img = "<img style=\"width:8%;height:10%;color:red;\"src=\"/static/caret-down.png\" alt=\"caret top\">";
      color = "red";
    }
    var text = "$" + price +
                "<br><span style='color:" + color + ";font-weight:bold;'>"
                + img + changePercent.toFixed(2) + "%<br>"+ img + "$" + change +" </span>"
    $(cardText).html(text);
    var cardBody = document.createElement('div');
    $(cardBody).addClass('card-body text-secondary');
    $(cardBody).append(cardTitle);
    $(cardBody).append(cardText);
    var cardHeader = document.createElement('div');
    $(cardHeader).addClass('card-header');
    $(cardHeader).text(symbol);
    var card = document.createElement('div');
    $(card).addClass('card border-secondary');
    $(card).append(cardHeader);
    $(card).append(cardBody);
    var link = document.createElement('a');
    $(link).append(card);
    $(link).attr('href',"stockDetails/?symbol=" + symbol);
    return link;
  }
</script>

<script type="text/javascript">
  $('.tippy').each(function(index, element){
    tippy(element,{
      content: $(element).attr('data-tippy-content'),
      animation: 'fade',
      arrow: true,
      arrowType: 'round',
      delay: [300,10],
      followCursor: 'horizontal',
    });
  });

  $(document).ready(function(){
    $('.stock-links').click(function(){
      window.location = "stockDetails/?symbol=" + $(this).find('#symbol').text();
    });
    var traders = ['mostactive', 'gainers', 'losers'];
    $(traders).each(function(index,element){
      var url = "{{ b }}market/list/"+element+"?{{ t }}";
      $.getJSON(url, function(list) {
        var count = Object.keys(list).length;
        for (var i = 0; i < count; i++){
          var card = makeStockCard(list[i]['symbol'],
               list[i].companyName,
               list[i].latestPrice,
               list[i].changePercent,
               list[i].change);
          $('.'+element+'-stocks').append(card);
        }
      });
    });
  });
</script>
{% endblock %}
