{% extends 'layout.twig' %}
{% block body %}

{% for alert in alerts %}
  <div class="alert alert-{{ alert.type}} alert-dismissible fade show" role="alert">
    {{ alert.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

<main class="container p-5">
  <label class="display-2">Dashboard</label>
  <br>
  <label class="display-4">Portfolio</label>
  <hr>
  <div class="container-fluid">
    <table class="table table-responsive-sm table-hover">
      {% if api_error == TRUE %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr>
            <td class="trade-font">{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>

        </tr>
        {% else %}
        <tr>
          <td colspan="2"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td style="font-size:18px;"><strong>User</strong></td>
          <td class="cash-text" style="font-size:18px;"><strong>${{ cash }}</strong></td>
        </tr>
        <tr>
          <td style="font-size:18px;"><strong>Total</strong></td>
          <td class="cash-text" style="font-size:18px;"><strong>${{ cash }}</strong></td>
        </tr>
      </tbody>
      {% else %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price <span class="badge badge-pill badge-success">Live</span></th>
              <th scope="col">TOTAL</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr class="stock-links pointer tippy" data-tippy-content="Go to {{stock.name}} stock">
          <td id="symbol" class="trade-font">{{ stock.symbol }}</td>
          <td>{{stock.name}}</td>
          <td>{{ stock.shares }}</td>
          <td class="cash-text">${{ stock.price }}</td>
          <td class="cash-text">${{ stock.total }}</td>
        </tr>

        {% else %}
        <tr>
          <td colspan="5"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td style="font-size:18px;"><strong>User</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="cash-text" style="font-size:18px;">${{ cash }}</td>
        </tr>
        <tr>
          <td style="font-size:18px;"><strong>Total</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="cash-text" style="font-size:18px;">${{ total }}</td>
        </tr>
      </tbody>

      {% endif %}
    </table>
  </div>

  <section id="mostative-section">

  </section>

  <section id="gainers-section">

  </section>

  <section id="losers-section">

  </section>

  <section id="iexvolume-section">

  </section>

  <section id="iexpercent-section">

  </section>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function makeStockCard(symbol, companyName, price, changePercent, change){
    var cardTitle = document.createElement('h5');
    $(cardTitle).addClass('card-title');
    $(cardTitle).text(companyName);
    var cardText = document.createElement('p');
    $(cardText).addClass('card-text');
    var color = "white";

    var img = "";

    if (changePercent > 0.00){
      img = "<img style=\"width:8%;height:10%;color:#2ecc71;\"src=\"/static/caret-up.png\" alt=\"caret top\">";
      color = "#2ecc71";
    }
    else if (changePercent < 0.00){
      img = "<img style=\"width:8%;height:10%;color:red;\"src=\"/static/caret-down.png\" alt=\"caret top\">";
      color = "red";
    }
    var text = "<span class='cash-text'>$" + formatNumber(price) +
                "</span><br><span style='color:" + color + ";font-weight:bold;'>"
                + img + changePercent.toFixed(2) + "%<br>"+ img + "$" + change +" </span>"
    $(cardText).html(text);
    var cardBody = document.createElement('div');
    $(cardBody).addClass('card-body text-secondary');
    $(cardBody).append(cardTitle);
    $(cardBody).append(cardText);
    var cardHeader = document.createElement('div');
    $(cardHeader).addClass('card-header trade-font');
    $(cardHeader).text(symbol);
    var card = document.createElement('div');
    $(card).attr('data-content-tippy','Go to '+companyName+' stock');
    $(card).addClass('card border-secondary');
    $(card).append(cardHeader);
    $(card).append(cardBody);
    var link = document.createElement('a');
    $(link).append(card);
    $(link).attr('href',"detailedQuote?symbol=" + symbol);
    return link;
  }
  function makeStockSection(heading, className){
    var label = document.createElement('label');
    $(label).addClass('display-4');
    $(label).html(heading);
    var br = document.createElement('br');
    var badge = document.createElement('span');
    $(badge).addClass('badge badge-pill badge-success');
    $(badge).html('Live');
    var hr = document.createElement('hr');
    var container = document.createElement('div');
    $(container).addClass('container-fluid');
    var cardCols = document.createElement('div');
    $(cardCols).addClass(className+"-stocks card-columns");
    $(container).append(cardCols);
    console.log(className);
    $('#' + className + "-section").append(label);
    $('#' + className + "-section").append(br);
    $('#' + className + "-section").append(badge);
    $('#' + className + "-section").append(hr);
    $('#' + className + "-section").append(container);
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.stock-links').click(function(){
      window.location = "detailedQuote?symbol=" + $(this).find('#symbol').text();
    });

    var headings = ['Most Active', 'Gainers', 'Losers', 'IEX Volume', 'IEX Percent'];
    var traders = ['mostactive', 'gainers', 'losers','iexvolume','iexpercent'];

    $(traders).each(function(index,element){
      console.log('traders: '+element);
      makeStockSection(headings[index], element);
      var url = "{{ b }}/stock/market/list/"+element+"?{{ t }}";
      $.getJSON(url, function(list) {
        console.log(list);
        var count = Object.keys(list).length;
        for (var i = 0; i < count; i++){
          var card = makeStockCard(list[i]['symbol'],
               list[i].companyName,
               list[i].latestPrice,
               list[i].changePercent,
               list[i].change);
           tippy(card,{
             content: "Go to " + list[i].companyName + " stock",
             animation: 'fade',
             arrow: true,
             arrowType: 'round',
             delay: [500,5],
             followCursor: true,
           });
          $('.'+element+'-stocks').append(card);
        }
      });
    });

    $('.badge').each(function(index, element){
      tippy(element,{
        content: 'Live content from IEX API',
        animation: 'fade',
        arrow: true,
        arrowType: 'sharp',
        delay: [10,10]
      });
    });
    $('.tippy').each(function(index, element){
      tippy(element,{
        content: $(element).attr('data-tippy-content'),
        animation: 'fade',
        arrow: true,
        arrowType: 'round',
        delay: [300,10],
        followCursor: 'horizontal',
      });
    });
  });
</script>
{% endblock %}
