{% extends 'layout.twig' %}
{% block body %}

{% for alert in alerts %}
  <div class="alert alert-{{ alert.type}} alert-dismissible fade show" role="alert">
    {{ alert.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

<main class="container p-5">
  <label class="display-2">Dashboard</label>
  <br>
  <label class="display-4">Portfolio</label>
  <hr>
  <div class="container-fluid">
    <table class="table table-responsive-sm table-hover">
      {% if api_error == TRUE %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr>
            <td class="trade-font">{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>

        </tr>
        {% else %}
        <tr>
          <td colspan="2"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td style="font-size:18px;"><strong>User</strong></td>
          <td class="cash-text" style="font-size:18px;"><strong>${{ cash }}</strong></td>
        </tr>
        <tr>
          <td style="font-size:18px;"><strong>Total</strong></td>
          <td class="cash-text" style="font-size:18px;"><strong>${{ cash }}</strong></td>
        </tr>
      </tbody>
      {% else %}
      <thead>
          <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Close Price <span class="badge badge-pill badge-success">Live</span></th>
              <th scope="col">Change <span class="badge badge-pill badge-success">Live</span></th>
              <th scope="col">Latest Price <span class="badge badge-pill badge-success">Live</span></th>
              <th scope="col">TOTAL</th>
          </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr class="stock-links pointer tippy table-rows" data-tippy-content="Click to go to {{stock.name}} stock">
          <td id="symbol" class="trade-font">{{ stock.symbol }}</td>
          <td>{{stock.name}}</td>
          <td>{{ stock.shares }}</td>
          <td class="cash-text">${{ stock.close }}</td>
          <td class="cash-text change" value="{{stock.change}}">
            (<span class="cash-text changePercent" value="{{stock.changePercent}}"></span>)
          </td>
          <td class="cash-text">${{ stock.latestPrice }}</td>
          <td class="cash-text">${{ stock.total }}</td>
        </tr>

        {% else %}
        <tr>
          <td colspan="7"><a href="/buy"><div class="lead">Buy some stocks to display them here</div></a></td>
        </tr>
        {% endfor %}
        <tr>
          <td style="font-size:18px;"><strong>User</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="cash-text" style="font-size:18px;">${{ cash }}</td>
        </tr>
        <tr>
          <td style="font-size:18px;"><strong>Total</strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="cash-text" style="font-size:18px;">${{ total }}</td>
        </tr>
      </tbody>

      {% endif %}
    </table>
  </div>

  <section id="mostactive-section">

  </section>

  <section id="gainers-section">

  </section>

  <section id="iexvolume-section">

  </section>

  <section id="iexpercent-section">

  </section>

  <section id="losers-section">

  </section>

</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.changePercent').each(function(index, element){
      let c = parseFloat($(element).attr('value'));
      if (c) {
        if (c > 0) {
          $(element).css('color',"#27ae60");
        }
        else{
          $(element).css('color',"red");
        }
        $(element).html(formatChange(c,"f"));
      }
    });
    $('.change').each(function(index, element){
      let c = parseFloat($(element).attr('value'));
      let img;
      if (c > 0) {
        $(element).css('color',"#27ae60");
      }
      else if (c < 0){
        $(element).css('color',"red");
      }
      $(element).prepend(formatChange(c,"d"));
    });


    $('.stock-links').click(function(){
      window.location = "detailedQuote?symbol=" + $(this).find('#symbol').text();
    });

    var headings = ['Most Active', 'Gainers', 'Losers', 'IEX Volume', 'IEX Percent'];
    var traders = ['mostactive', 'gainers', 'losers','iexvolume','iexpercent'];

    $(traders).each(function(index,element){
      var url = "{{ b }}/stock/market/list/"+element+"?{{ t }}&displayPercent=true";
      $.getJSON(url, function(list) {
        console.log(element);
        console.log(list);
        makeStockSection(headings[index], element);
        if(!list || list.length == 0){
          let card = makeStockCard('N/A','No Stocks found in list', 0, 0, 0, 0, false);
          $('.'+element+'-stocks').append(card);
        }
        var count = Object.keys(list).length;
        for (var i = 0; i < count; i++){
          var card = makeStockCard(list[i]['symbol'],
               list[i].companyName, list[i].latestPrice,
               list[i].close,list[i].open,
               list[i].changePercent, list[i].change,
               list[i].latestVolume, list[i].volume,
               list[i].avgTotalVolume,  true);
           tippy(card,{
             content: "Click to go to " + list[i].companyName + " stock",
             animation: 'fade',
             arrow: true,
             arrowType: 'round',
             delay: [500,5],
             followCursor: true,
           });
          $('.'+element+'-stocks').append(card);
        }
      });
    });

    $('.badge').each(function(index, element){
      tippy(element,{
        content: 'Live content from IEX API',
        animation: 'fade',
        arrow: true,
        arrowType: 'sharp',
        delay: [10,10]
      });
    });
    $('.tippy').each(function(index, element){
      tippy(element,{
        content: $(element).attr('data-tippy-content'),
        animation: 'fade',
        arrow: true,
        arrowType: 'round',
        delay: [300,10],
        followCursor: 'horizontal',
      });
    });
  });
</script>
{% endblock %}
