{% extends 'layout.twig' %}

{% block body %}

{% for alert in alerts %}
  <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
    {{ alert.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

<main class="container p-5">
{% if quoted == TRUE %}
  <label class="display-4 trade-font">{{ symbol }}</label>
  <hr>
  <label class="display-4">{{ company }}</label>
  <hr>
  <label class="display-4 cash-text">${{ price }}</label><br><span class="badge badge-pill badge-success">Live</span>
  <hr>
  <a class="btn btn-primary" href="/buy?symbol={{symbol}}">Buy this stock</a>
  <a class="btn btn-primary" href="/detailedQuote?symbol={{symbol}}">Get detailed quote<span class="badge badge-pill badge-success">Live</span></a>
  <hr>
{% endif %}
  <form action="/quote?symbol=" method="GET">

    <h1 class="display-4">{% if quoted == TRUE %}Lookup another symbol{% else %}Quote{% endif %}</h1>
    <div class="form-group">
      <input class="form-control" type="text" name="symbol" placeholder="Symbol" required>
    </div>
    <button class="btn btn-primary" type="submit" id="submit-button">Lookup</button>
  </form>
</main>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('.badge').each(function(index, element){
  tippy(element,{
    content: 'Live content from IEX API',
    animation: 'fade',
    arrow: true,
    arrowType: 'sharp',
    delay: [10,10]
  });
});
</script>
{% endblock %}
