{% extends 'layout.twig' %}

{% block body %}

{% for alert in alerts%}
<div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
  {{ alert.message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<main class="container p-5">
  <form action="/sell{% if symbol != ''%}?symbol={{symbol}}{% endif %}" method="POST">
    <h1 class="lead">Sell:</h1>
    <div class="form-group">
        <select class="custom-select form-control" name="symbol" required>
            {% if symbol == "" %}<option selected disabled value="">Choose stock</option>{% endif %}
            {% for stock in stocks %}
                {% if stock == symbol %}
                  <option selected value="{{ stock }}">{{ stock }}</option>
                {% else %}
                  <option value="{{ stock }}">{{ stock }}</option>
                {% endif %}
            {% else %}
                <option disabled value="">No stocks available to choose from</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input class="form-control" name="shares" placeholder="Number of shares" type="number" min="1" required>
    </div>
      <button class="btn btn-primary" type="submit">Sell</button>
  </form>
</main>
{% endblock %}
