{% extends 'layout.twig' %}
{% block body %}
<div class="wrapper">
  <div class="left">

    <h2  id='symbol'></h2>
    <hr>
    <div class="container-fluid" style="align-items:center;">
      <img id="logo" class="img-fluid float-right" alt="...">
      <div class="display-4" id="name"></div>
    </div>
    <hr style="margin-top:80px">
    <h1>Profile</h1>
    <p id="profile"></p>
    <p id="tags" style="text-transform:uppercase;font-weight:bold;font-size:15px;"></p>
    <hr>
    <div class="row">

      <div class="col">
        <td>
          <b>Website:</b> <br>
          <a id="website"></a>
        </td>
      </div>
      <div class="col">
        <td>
          <b>Exchange:</b> <br>
          <div id="exchange"></div>
        </td>
      </div>
      <div class="col">
        <td>
          <b>Industry:</b> <br>
          <div id="industry"></div>
        </td>
      </div>
      <div class="col">
        <td>
          <b>CEO:</b> <br>
          <div id="ceo"></div>
        </td>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="lead">
        {% if shares != 0 %}
          You own {{shares}} shares of this stock
        {% else %}
          You do not own any shares of this stock
        {% endif %}
      </div>
      <hr>
      <div id="recommendation" class="lead"></div>
      <div class="container" style="text-align:center;">
        <hr>
        <a class="btn btn-primary" href="/buy/?symbol={{symbol}}">Buy</a>
        {% if shares > 0 %}
          <a class="btn btn-primary" href="/sell/?symbol={{symbol}}">Sell</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="right">
    <div class="row">
      <div class="col">
        <td><b>High</b> <br>
        <div id="high" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Low</b> <br>
        <div id="low" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Latest Price</b> <br>
        <div id="latestPrice" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Change</b> <br>
        <div id="change"></div></td>

      </div>
      <div class="col">
        <td><b>Change Percent</b> <br>
        <div id="changePercent"></div></td>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <td><b>Volume:</b> <br>
        <div id="volume"></div></td>

      </div>
      <div class="col">
        <td><b>Total Cash:</b> <br>
        <div id="totalCash" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Current Cash:</b> <br>
        <div id="currentCash" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>total Revenue:</b> <br>
        <div id="totalRevenue" class="cash-text"></div></td>

      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col">
        <td><b>Operating Expense</b> <br>
        <div id="operatingExpense" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Operating Income</b> <br>
        <div id="operatingIncome" class="cash-text"></div></td>

      </div>
      <div class="col">
        <td><b>Operating Revenue</b> <br>
        <div id="operatingRevenue" class="cash-text"></div></td>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="tab1" data-toggle="pill" href="#chart1" role="tab" aria-controls="chart1" aria-selected="true">1 Day</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="tab2" data-toggle="pill" href="#chart2" role="tab" aria-controls="chart2" aria-selected="false">1 Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab3" data-toggle="pill" href="#chart3" role="tab" aria-controls="chart3" aria-selected="false">3 Months</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab4" data-toggle="pill" href="#chart4" role="tab" aria-controls="chart4" aria-selected="false">6 Months</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab5" data-toggle="pill" href="#chart5" role="tab" aria-controls="chart5" aria-selected="false">1 Year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab6" data-toggle="pill" href="#chart6" role="tab" aria-controls="chart6" aria-selected="false">2 Years</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab7" data-toggle="pill" href="#chart7" role="tab" aria-controls="chart7" aria-selected="false">5 Years</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade" id="chart1" role="tabpanel" aria-labelledby="tab1">
            <div id="priceHistory1d" class="container"></div>
          </div>
          <div class="tab-pane fade show active" id="chart2" role="tabpanel" aria-labelledby="tab2">
            <div id="priceHistory1m" class="container"></div>
          </div>
          <div class="tab-pane fade" id="chart3" role="tabpanel" aria-labelledby="tab3">
            <div id="priceHistory3m" class="container"></div>
          </div>
          <div class="tab-pane fade" id="chart4" role="tabpanel" aria-labelledby="tab4">
            <div id="priceHistory6m" class="container"></div>
          </div>
          <div class="tab-pane fade" id="chart5" role="tabpanel" aria-labelledby="tab5">
            <div id="priceHistory1y" class="container"></div>
          </div>
          <div class="tab-pane fade" id="chart6" role="tabpanel" aria-labelledby="tab6">
            <div id="priceHistory2y" class="container"></div>
          </div>
          <div class="tab-pane fade" id="chart7" role="tabpanel" aria-labelledby="tab7">
            <div id="priceHistory5y" class="container"></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<hr>
<div class="display-4" style="text-align:center">
  Stock Prices Forecast
  <div id="regressionGraph"></div>

</div>
<div class="container" style="text-align:center;">
  <a class="btn btn-primary" href="/neuralprediction.php/?symbol={{symbol}}">Prediction for {{symbol}}</a>
</div>

{% endblock %}

{% block scripts %}



<script type="text/javascript">
  function createDayGraph(canvas, timeString, chart){
    var labels = [];
    var high = [];
    var low = [];
    var open = [];
    var close = [];
    var prices = [];
    var x = []
    for (var i = 0; i < chart.length; i++){
      labels[i] = chart[i].label;
      high[i] = chart[i].high;
      low[i] = chart[i].low;
      open[i] = chart[i].open;
      close[i] = chart[i].close;
      prices[i] = (chart[i].high + chart[i].low)/2;
      x[i] = i + 1;

    }
    Highcharts.chart(canvas,{
      chart: {
          zoomType: 'x'
      },
      subtitle: {
          text: document.ontouchstart === undefined ?
              'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
      },
      xAxis: {categories: labels,
              title: {
                text: 'Dates'
              }},
      title: {text: 'Price History for '+timeString},
      yAxis: {title: {
                text: 'Prices ($)'
      }},
      series: [{
          type: 'line',
          name: 'Average',
          data: prices,
          marker: {enabled: false},
          states: { hover: {lineWidth: 0}}
      },{
          type: 'line',
          name: 'High',
          data: high,
          marker: {enabled: false},
      },{
          type: 'line',
          name: 'Low',
          data: low,
          marker: {enabled: false},
          states: { hover: {lineWidth: 0}}
      },{
          type: 'line',
          name: 'Open',
          data: open,
          marker: {enabled: false},
          states: { hover: {lineWidth: 0}}
      },{
          type: 'line',
          name: 'Close',
          data: close,
          marker: {enabled: false},
          states: { hover: {lineWidth: 0}}
      }
    ]
    });
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $.getJSON("{{ b }}{{ symbol }}/batch?{{ t }}&types=quote,company,financials", function(quote){
      $('#name').html(quote.company.companyName);

      $('#symbol').html(quote.company.symbol);

      $('#profile').html(quote.company.description);

      var s='';
      var array = quote.company.tags;
      for (var i = 0; i < quote.company.tags.length; i++){
        s += array[i] + "<br>";
      }
      $('#tags').html(s);

      $('#website').html(quote.company.website);
      $('#website').attr("href", quote.company.website);
      $('#exchange').html(quote.quote.primaryExchange);
      $('#industry').html(quote.company.industry);
      $('#ceo').html(quote.company["CEO"]);

      $('#high').html('$' + quote.quote.high);
      $('#low').html('$' + quote.quote.low);
      $('#latestPrice').html('$' + quote.quote.latestPrice);
      var img =""
      $('#change').css('font-weight','bold');
      $('#changePercent').css('font-weight','bold');
      if(quote.quote.change>0){
        $('#change').css('color','#2ecc71');
        $('#changePercent').css('color','#2ecc71');
        img = "<img style=\"width:8%;height:10%;color:#2ecc71;\"src=\"/static/caret-up.png\" alt=\"caret top\">";
      }
      else if (quote.quote.change<0) {
        $('#change').css('color','red');
        $('#changePercent').css('color','red');
        img = "<img style=\"width:8%;height:10%;color:#2ecc71;\"src=\"/static/caret-down.png\" alt=\"caret down\">";
      }
      $('#change').html(img+'$' + quote.quote.change);
      $('#changePercent').html(img + quote.quote.changePercent + "%");

      $('#volume').html(quote.quote.latestVolume);
      $('#totalCash').html('$'+ quote.financials.financials[0].totalCash);
      $('#currentCash').html('$' + quote.financials.financials[0].currentCash);
      $('#totalRevenue').html('$' + quote.financials.financials[0].totalRevenue);

      $('#operatingExpense').html('$' + quote.financials.financials[0].operatingExpense);
      $('#operatingIncome').html('$' + quote.financials.financials[0].operatingIncome);
      $('#operatingRevenue').html('$' + quote.financials.financials[0].operatingRevenue);

    });

    $.getJSON("{{ b }}{{symbol}}/chart/1d?{{t}}", function(chart){
      var labels = [];
      var high = [];
      var low = [];
      var average = [];
      for (var i = 0; i < chart.length; i++){
        labels[i] = chart[i].label;
        high[i] = chart[i].high;
        low[i] = chart[i].low;
        average[i] = chart[i].average;

      }
      Highcharts.chart('priceHistory1d',{
        chart: {
            zoomType: 'x'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {categories: labels,
                title: {
                  text: 'Dates'
                }},
        title: {text: 'Price History for ' + chart[0].date},
        yAxis: {title: {
                  text: 'Prices ($)'
        }},
        series: [{
            type: 'line',
            name: 'Average',
            data: average,
            marker: {enabled: false},
            states: { hover: {lineWidth: 0}}
        },{
            type: 'line',
            name: 'High',
            data: high,
            marker: {enabled: false},
            states: { hover: {lineWidth: 0}}
        },{
            type: 'line',
            name: 'Low',
            data: low,
            marker: {enabled: false},
            states: { hover: {lineWidth: 0}}
        }
      ]
      });

    });

    $.getJSON("{{b}}{{symbol}}/chart/1m?{{t}}", function(chart){
      createDayGraph('priceHistory1m','1 Month',chart);

    });

    $.getJSON("{{b}}{{symbol}}/chart/3m?{{t}}", function(chart){
      createDayGraph('priceHistory3m','3 months',chart)
    });

    $.getJSON("{{b}}{{symbol}}/chart/6m?{{t}}", function(chart){
      createDayGraph('priceHistory6m','6 months',chart)
    });

    $.getJSON("{{b}}{{symbol}}/chart/1y?{{t}}", function(chart){
      createDayGraph('priceHistory1y','1 Year',chart)
    });

    $.getJSON("{{b}}{{symbol}}/chart/2y?{{t}}", function(chart){
      createDayGraph('priceHistory2y','2 Years',chart)
    });

    $.getJSON("{{b}}{{symbol}}/chart/5y?{{t}}", function(chart){
      createDayGraph('priceHistory5y','5 Years',chart)
      var prices = [];
      var x = [];
      var labels = [];
      var l = chart.length
      for (var i = 0; i < l; i++){
        prices[i] = (chart[i].high + chart[i].low)/2;
        x[i] = i + 1;
      }

    	var y = prices

    	var sum_xy = 0
    	var sum_x = 0
    	var sum_y = 0
    	var sum_xsqr = 0
    	var n = x.length
    	for(var i = 0; i < n; i++){
    		sum_xy += (x[i] * y[i])
    		sum_x += x[i]
    		sum_y += y[i]
    		sum_xsqr += (x[i]*x[i])
    	}
    	m = ( (n * sum_xy) - ( sum_x * sum_y) ) / ( (n * sum_xsqr) - (sum_x * sum_x))
    	c = ( (sum_y * sum_xsqr) - (sum_x * sum_xy)) / ( (n * sum_xsqr) - (sum_x * sum_x))

      var rec = "";
      if(m < 0 && {{shares}} > 0){
        rec = "Consider selling a portion of your stocks.";
      } else{
        rec = "Consider buying stocks right now.";
      }
      $('#recommendation').html(rec);

    	var y_pred = []

      var date_array = chart[l-1].date.split('-');
      var last_date = new Date();
      last_date.setFullYear(parseInt(date_array[0]), parseInt(date_array[1]), parseInt(date_array[2]));
      last_date.setDate(last_date.getDate() + 1);
      day = 1;
      var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      for(var i = n; i < n + 365; i++){
        x[i] = i + 1;
    		y_pred[day-1] = (m * x[i]) + c
        var i_date = new Date()
        i_date.setDate(last_date.getDate() + day)
        labels[day-1] =  months[i_date.getMonth()] + " " + i_date.getDate() + ", " + i_date.getFullYear();
        day += 1
      }

      Highcharts.chart('regressionGraph', {
        colorAxis: {
          lineColor: '#e67e22',
          gridLineColor:'#e67e22'
        },
        chart: {
            zoomType: 'x'
        },

        title: {
            text: 'Regression on prices for previous 5 years'
        },

        tooltip: {
            valueDecimals: 2
        },

        xAxis: {
          categories:labels,
        },yAxis: {title: {
                  text: 'Prices ($)'
        }},

        series: [{
            data: y_pred,
            lineColor:'#e67e22',
            lineWidth: 3,
            name: 'Average Daily Stock Price Predictions for the next year'
        }]

    });
    });
    $('#logo').attr('src','https://storage.googleapis.com/iex/api/logos/{{symbol}}.png');

  });
</script>
{% endblock %}
